# App Configuration
APP_DISPLAY_NAME="nAuth NextJS Auth Example"
APP_ORIGIN=http://localhost:3000
APP_HOSTNAME=localhost

# Server Configuration
CRON_SECRET=cron_secret
JWT_SECRET=jwt_secret

# Database Settings
MONGO_URI=db_uri

# Email Provider Configuration
RESEND_API_KEY=resend_key
MAILER_FROM=noreply@example.com

# Image/Avatar Storage Configuration
CLOUDINARY_URL=cloudinary_url
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
NEXT_PUBLIC_CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

# Google Sign In Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=google_client_id

# Redis Configuration
UPSTASH_REDIS_REST_URL=redis_rest_url
UPSTASH_REDIS_REST_TOKEN=redis_rest_token
