@import "tailwindcss";

@theme {
  --breakpoint-xs: 438px;
  --breakpoint-ll: 1096px;
}

:root {
  --page: #e3eaef;

  --panel: #f3faff;
  --panel-highlight: #d1d5db;
  --panel-active: #444b5a;
  --panel-active-foreground: #eee;
  --panel-error: #fef3f3;
  --panel-error-border: #ffcaca;

  --foreground-primary: #353642;
  --foreground-secondary: #4b596d;
  --foreground-muted: #6B7280;
  --foreground-error: #9e0812;

  --success: #16a34a;
  --error: #e70009;
  --error-highlight: #cf1414;
  --error-low: #ff8484;

  --brand: #6366f1;
  --brand-light: #818cf8;
  --brand-highlight: #4f46e5;
  --brand-low: #c1ccff;

  --button-foreground: #e5e6f2;
  --button-foreground-highlight: #ffffff;
  --button-foreground-low: #9a9dbf;
  --button-secondary-foreground: #6366f1;
  --button-tertiary-background: #ffffff;
  --button-tertiary-border: #d1d5db;
  --button-warning-highlight: #eeeeee;

  --tab-foreground: #4b596d;
  --tab-foreground-selected: #6366f1;

  --logo: url('/nAuth-logo-light.png');
}

[data-theme="dark"] {
  --page: #252632;

  --panel: #282a36;
  --panel-highlight: #374151;
  --panel-active: #f3f4f6;
  --panel-active-foreground: #111827;
  --panel-error: #3d3640;
  --panel-error-border: #644a52;

  --foreground-primary: #e5e6f2;
  --foreground-secondary: #9ca3af;
  --foreground-muted: #7B8290;
  --foreground-error: #ef7474;

  --success: #4ADE80;
  --error: #e70009;
  --error-highlight: #dc2626;
  --error-low: #4c2b2d;

  --brand: #6366f1;
  --brand-light: #818cf8;
  --brand-highlight: #4f46e5;
  --brand-low: #2b295c;

  --button-foreground: #e5e6f2;
  --button-foreground-highlight: #ffffff;
  --button-foreground-low: #4a4d6f;
  --button-secondary-foreground: #e5e6f2;
  --button-tertiary-background: #282a36;
  --button-tertiary-border: #4a4d5f;
  --button-warning-highlight: #662010;

  --tab-foreground: #9ca3af;
  --tab-foreground-selected: #818cf8;

  --logo: url('/nAuth-logo.png');
}

@theme inline {
  --font-sans: var(--font-roboto-sans), sans-serif;
  --font-mono: var(--font-roboto-mono), monospace;
  --color-page: var(--page);
  --color-panel: var(--panel);
  --color-panel-highlight: var(--panel-highlight);
  --color-panel-active: var(--panel-active);
  --color-panel-active-foreground: var(--panel-active-foreground);
  --color-panel-error: var(--panel-error);
  --color-panel-error-border: var(--panel-error-border);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-error: var(--foreground-error);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-error-highlight: var(--error-highlight);
  --color-error-low: var(--error-low);
  --color-brand: var(--brand);
  --color-brand-light: var(--brand-light);
  --color-brand-highlight: var(--brand-highlight);
  --color-brand-low: var(--brand-low);
  --color-button-foreground: var(--button-foreground);
  --color-button-foreground-highlight: var(--button-foreground-highlight);
  --color-button-foreground-low: var(--button-foreground-low);
  --color-button-secondary-foreground: var(--button-secondary-foreground);
  --color-button-tertiary-background: var(--button-tertiary-background);
  --color-button-tertiary-border: var(--button-tertiary-border);
  --color-button-warning-highlight: var(--button-warning-highlight);
  --color-tab-foreground: var(--tab-foreground);
  --color-tab-foreground-selected: var(--tab-foreground-selected);
  --background-image-logo: var(--logo);
}

body {
  background-color: var(--page);
  color: var(--foreground-primary);
}

:focus-visible {
  outline: 2px solid var(--brand);
}

@utility page-container {
  @apply
    pt-24 
    mx-5 
    xs:mx-8 
    mb-8
}

@utility button-base {
  @apply
    flex 
    justify-center 
    items-center 
    rounded-md 
    transition-colors 
    cursor-pointer
    disabled:cursor-not-allowed
    leading-tight
}

@utility button-primary {
  @apply 
    button-base
    font-semibold 
    text-button-foreground 
    hover:text-button-foreground-highlight 
    disabled:text-button-foreground-low
    bg-brand 
    hover:bg-brand-highlight 
    disabled:bg-brand-low
}

@utility button-secondary {
  @apply 
    button-base
    font-semibold 
    text-button-secondary-foreground 
    hover:text-button-foreground-highlight 
    disabled:text-button-foreground-low
    bg-transparent 
    hover:bg-brand-highlight
    disabled:bg-transparent
    border-2
    border-brand
    hover:border-brand-highlight
    disabled:border-brand-low
}

@utility button-tertiary {
  @apply 
    button-base
    font-semibold 
    text-foreground-primary 
    hover:text-button-foreground-highlight 
    disabled:text-button-tertiary-border
    bg-button-tertiary-background
    hover:bg-brand-highlight 
    disabled:bg-panel
    border
    border-button-tertiary-border
    hover:border-brand-highlight
    disabled:border-button-tertiary-border
}

@utility button-warning {
  @apply 
    button-base
    font-semibold 
    text-error 
    hover:text-button-foreground-highlight
    disabled:text-error-low
    bg-transparent 
    hover:bg-error
    disabled:bg-transparent
    border-2
    border-error
    hover:border-error
    disabled:border-error-low
}

@utility button-extreme {
  @apply 
    button-base
    font-semibold 
    text-button-foreground 
    hover:text-button-foreground-highlight 
    disabled:text-button-foreground-low
    bg-error 
    hover:bg-error-highlight
    disabled:bg-error-low
}

@utility button-ghost {
  @apply 
    button-base 
    text-foreground-primary
    hover:text-button-foreground-highlight 
    disabled:text-button-foreground-low
    bg-transparent 
    hover:bg-panel-highlight
    disabled:bg-transparent
}

@utility button-standard {
  @apply 
    px-6 
    py-2.5 
    text-lg
}

@utility button-small {
  @apply 
    px-2.5 
    py-1.5 
    text-base
}

@utility input-base {
  @apply
    p-2 
    border 
    text-foreground-secondary 
    rounded-lg 
    focus:outline-none
    focus-visible:outline-2
    focus-visible:outline-brand
}

@utility input-standard {
  @apply
    input-base
    border-panel-highlight 
    focus:border-brand-light
}

@utility input-label {
  @apply
    text-sm 
    font-medium
}

@utility input-instruction {
  @apply
    text-xs 
    text-foreground-secondary
}

@utility input-link {
  @apply
    text-sm
    text-brand
    hover:text-brand-highlight
    font-medium
    transition-colors
}

@utility input-error {
  @apply
    input-base
    border-error 
    bg-panel-error
    focus:border-error 
    focus-visible:outline-2
    focus-visible:outline-error-highlight
}

@utility nav-item-base {
  @apply
    flex 
    items-center 
    gap-2 
    px-4 
    py-3.5 
    rounded-md 
    w-full 
    transition-colors
}

@utility nav-item {
  @apply
    nav-item-base
    text-foreground-secondary
    hover:bg-panel-highlight
    cursor-pointer 
    data-focus:bg-panel-highlight
}

@utility nav-item-selected {
  @apply
    nav-item-base
    bg-panel-active
    text-panel-active-foreground
    cursor-default
}

@utility switch-base {
  @apply
    relative 
    inline-flex 
    h-6 
    w-11 
    items-center 
    rounded-full 
    cursor-pointer 
    focus:outline-none 
    data-focus:outline-2 
    data-focus:outline-brand 
    data-focus:outline-offset-2
}

@utility switch-on {
  @apply
    switch-base
    bg-brand
}

@utility switch-off {
  @apply
    switch-base
    bg-panel-highlight
}

@utility switch-handle-base {
  @apply
    inline-block 
    h-4 
    w-4 
    transform 
    rounded-full 
    bg-white 
    transition
}

@utility switch-handle-on {
  @apply
    switch-handle-base
    translate-x-6
}

@utility switch-handle-off {
  @apply
    switch-handle-base
    translate-x-1
}

@utility tab-list {
  @apply
    flex 
    gap-10 
    px-5 
    rounded-md 
    bg-panel
}

@utility tab-list-item {
  @apply
    text-tab-foreground
    hover:text-foreground-primary
    data-selected:text-tab-foreground-selected
    text-lg 
    font-semibold 
    cursor-pointer
    data-selected:cursor-default
    data-selected:shadow-[inset_0_-2px_0_0_var(--color-tab-foreground-selected)]
    py-3
}